---
image: mtarking/nac-vxlan:0.5.0
stages:
  - setup
  - validate
  - deploy
  - test
  - document

variables:
  ND_HOST:
    description: "Cisco ND HOST"
  ND_DOMAIN:
    description: "Cisco ND Domain"
  ND_USERNAME:
    description: "Cisco ND Username"
  ND_PASSWORD:
    description: "Cisco ND Password"
  DC_VXLAN_SCHEMA:
    description: "Path to the schema file"
  DC_VXLAN_RULES:
    description: "Path to the rules file"
  NDFC_SW_USERNAME:
    description: "Cisco NDFC Switch Username"
  NDFC_SW_PASSWORD:
    description: "Cisco NDFC Switch Password"
  http_proxy: "http://proxy.esl.cisco.com:8080"
  https_proxy: "http://proxy.esl.cisco.com:8080"
  no_proxy: "localhost,127.0.0.1,.cisco.com"

setup:
  stage: setup
  script:
    - set -o pipefail && pip install --upgrade pip
    - set -o pipefail && pip install -r requirements.txt
    - set -o pipefail && mkdir -p collections/ansible_collections/cisco
    - set -o pipefail && mkdir -p outputs/setup
    # - set -o pipefail && ansible-galaxy collection install -r requirements.yaml --pre
    # - set -o pipefail && ansible-galaxy collection install git+https://github.com/CiscoDevNet/ansible-dcnm.git,develop
    # - set -o pipefail && ansible-galaxy collection install git+https://github.com/malriddell/ansible-dc-vxlan,issue-662
    - set -o pipefail && ansible-galaxy collection install -p collections/ansible_collections/ -r requirements.yaml --pre
    - set -o pipefail && ansible-galaxy collection install -p collections/ansible_collections/  git+https://github.com/malriddell/ansible-dc-vxlan,issue-662
    - set -o pipefail && ansible-galaxy collection install -p collections/ansible_collections/ git+https://github.com/CiscoDevNet/ansible-dcnm.git,develop
    - set -o pipefail && git clone https://wwwin-github.cisco.com/netascode/nac-vxlan.git ./nac-vxlan
    - set -o pipefail && rm -f ./schema/schema.yaml
    - set -o pipefail && ln -s ./nac-vxlan/schema/schema.yaml schema/schema.yaml
    - set -o pipefail && rm -rf ./tests/*
    - set -o pipefail && ln -s ./nac-vxlan/templates/nd/tests ./tests/templates
    - set -o pipefail && ln -s ./nac-vxlan/jinja_filters ./tests/jinja_filters
    - set -o pipefail && ansible --version  |& tee outputs/setup/setup_output.txt
    - set -o pipefail && ansible-galaxy collection list |& tee outputs/setup/setup_output.txt
  artifacts:
    paths:
      - inventory.yaml
      - outputs/setup/setup_output.txt
  cache: []
  after_script:
  - |
    text="### [$CI_JOB_NAME] $CI_PROJECT_PATH - $CI_COMMIT_MESSAGE
    * Trigger: $CI_PIPELINE_SOURCE
    * Git SHA: $CI_COMMIT_SHA
    * Status: $CI_JOB_STATUS
    * Details URL: [Job Results]($CI_JOB_URL)"
  - python3 tools/send-webex-message.py --room-id $ROOM_ID --token $WEBEX_TOKEN --artifacts-dir ./outputs/setup --zip-name $CI_JOB_NAME-artifacts.zip --message "$text"

validate:
  stage: validate
  rules:
    - if: $CI_COMMIT_TAG == null
  script:
    - set -o pipefail && mkdir -p outputs/validate
    - set -o pipefail && ls -l .
    - set -o pipefail && ls -l ..
    - set -o pipefail && ls -l ../nac-vxlan
    - set -o pipefail && ansible --version
    - set -o pipefail && nac-validate -s schema/schema.yaml host_vars/Site-3-mgmt -v DEBUG |& tee ./outputs/validate/validate_output-Site-3-mgmt.txt
    # - set -o pipefail && nac-validate -s schema/schema.yaml host_vars/Site-3-data -v DEBUG |& tee ./outputs/validate/validate_output-Site-3-data.txt
  artifacts:
    paths:
      - outputs/validate/validate_output-Site-3-mgmt.txt
      - outputs/validate/validate_output-Site-3-data.txt
  cache: []
  after_script:
  - |
    text="### [$CI_JOB_NAME] $CI_PROJECT_PATH - $CI_COMMIT_MESSAGE
    * Trigger: $CI_PIPELINE_SOURCE
    * Git SHA: $CI_COMMIT_SHA
    * Status: $CI_JOB_STATUS
    * Details URL: [Job Results]($CI_JOB_URL)"
  - python3 tools/send-webex-message.py --room-id $ROOM_ID --token $WEBEX_TOKEN --artifacts-dir ./outputs/validate --zip-name $CI_JOB_NAME-artifacts.zip --message "$text"

deploy:
  stage: deploy
  dependencies:
    - validate
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - set -o pipefail && pip install --upgrade pip
    - set -o pipefail && pip install -r requirements.txt
    - set -o pipefail && mkdir -p outputs/deploy
    - set -o pipefail && mkdir -p collections/ansible_collections/cisco
    # - set -o pipefail && ansible-galaxy collection install -r requirements.yaml --pre
    - set -o pipefail && ansible-galaxy collection install -p collections/ansible_collections/ -r requirements.yaml --pre
    # - set -o pipefail && ansible-galaxy collection install git+https://github.com/malriddell/ansible-dc-vxlan,issue-662
    - set -o pipefail && ansible-galaxy collection install -p collections/ansible_collections/ git+https://github.com/CiscoDevNet/ansible-dcnm.git,develop
    - set -o pipefail && ansible-galaxy collection install -p collections/ansible_collections/  git+https://github.com/malriddell/ansible-dc-vxlan,issue-662
    - set -o pipefail && ls -l .
    - set -o pipefail && pip list
    - set -o pipefail && ansible --version
    - set -o pipefail && ansible-galaxy collection list
    - set -o pipefail && ls -la collections/ansible_collections
    - set -o pipefail && ls -la collections/ansible_collections/cisco
    - set -o pipefail && ls -la collections/ansible_collections/cisco/nac_dc_vxlan/
    - set -o pipefail && ansible-playbook -i inventory.yaml vxlan.yaml --limit Site-3-mgmt --tags "cr_manage_interfaces,cr_manage_vrfs_networks,cr_manage_policy,cr_manage_links,cr_manage_edge_connections,rr_manage_interfaces,rr_manage_networks,rr_manage_vrfs,rr_manage_links,rr_manage_edge_connections,rr_manage_policy,role_validate,role_deploy" |& tee ./outputs/deploy/deploy_output-Site-3-mgmt.txt
    # - set -o pipefail && ansible-playbook -i inventory.yaml vxlan.yaml --limit Site-3-data |& tee ./outputs/deploy/deploy_output-Site-3-data.txt
  artifacts:
    when: always
    paths:
      - ./outputs/deploy/deploy_output-Site-3-mgmt.txt
      # - ./outputs/deploy/deploy_output-Site-3-data.txt
  after_script:
  - |
    text="### [$CI_JOB_NAME] $CI_PROJECT_PATH - $CI_COMMIT_MESSAGE
    * Trigger: $CI_PIPELINE_SOURCE
    * Git SHA: $CI_COMMIT_SHA
    * Status: $CI_JOB_STATUS
    * Details URL: [Job Results]($CI_JOB_URL)"
  - python3 tools/send-webex-message.py --room-id $ROOM_ID --token $WEBEX_TOKEN --artifacts-dir ./outputs/deploy --zip-name $CI_JOB_NAME-artifacts.zip --message "$text"


test-integration:
  stage: test
  dependencies:
    - deploy
  needs:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - set -o pipefail && mkdir -p outputs/results
    # - set -o pipefail && nac-test -d ./host_vars/Site-3-mgmt -d ./group_vars/ndfc/defaults.yaml -t ./tests/templates  -f ./tests/jinja_filters -o ./outputs/results/Site-3-mgmt/ |& tee ./outputs/results/test_output-Site-3-mgmt.txt
    # - set -o pipefail && nac-test -d ./host_vars/Site-3-data -d ./group_vars/ndfc/defaults.yaml -t ./tests/templates  -f ./tests/jinja_filters -o ./outputs/results/Site-3-data/ |& tee ./outputs/results/test_output-Site-3-data.txt
  artifacts:
    when: always
    # paths:
      # - outputs/results/Site-3-mgmt/*.htm
      # - outputs/results/Site-3-mgmt/xunit.xml
      # - outputs/results/Site-3-data/*.html
      # - outputs/results/Site-3-data/xunit.xml
      # - ./outputs/results/test_output-Site-3-mgmt.txt
      # - ./outputs/results/test_output-Site-3-data.txt
    # reports:
    #   junit: ./outputs/results/Site-3-mgmt/xunit.xml
  after_script:
  - |
    text="### [$CI_JOB_NAME] $CI_PROJECT_PATH - $CI_COMMIT_MESSAGE
    * Trigger: $CI_PIPELINE_SOURCE
    * Git SHA: $CI_COMMIT_SHA
    * Status: $CI_JOB_STATUS
    * Details URL: [Job Results]($CI_JOB_URL)"
  - python3 tools/send-webex-message.py --room-id $ROOM_ID --token $WEBEX_TOKEN --artifacts-dir ./outputs/results --zip-name $CI_JOB_NAME-artifacts.zip --message "$text"

pages:
  stage: document
  dependencies:
    - test-integration
  needs:
    - test-integration
  script:
    - pip install --upgrade pip
    - pip install mkdocs-material
    - mkdocs build --site-dir public
  artifacts:
    paths:
      - public
  only:
    - main